<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myscheduler.mapper.PlanMapper">

    <select id="selectWithPeriodAndUserId" resultType="com.example.myscheduler.domain.Plan">
        <![CDATA[
        SELECT * FROM plans
        WHERE
            planned_at >= #{startDate} AND planned_at < #{oneDayAfterEndDate}
            AND user_id = #{userId}
        ORDER BY planned_at, start_at
        ]]>
    </select>

    <select id="selectWithPlannedDateAndUserId" resultType="com.example.myscheduler.domain.Plan">
        SELECT * FROM plans
        WHERE
            planned_at = #{plannedDate}
            AND user_id = #{userId}
        ORDER BY start_at, id
    </select>

</mapper>