<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common::head}"></head>
<body class="text-center">
<main class="form-signin mt-5">
    <form action="" method="post" th:object="${user}">
        <h1 class="h3 mb-3 fw-normal">MyScheduler</h1>

        <div class="form-floating">
            <input type="text" class="form-control" th:field="*{loginId}">
            <label for="loginId">ログインID</label>
            <p class="validation-error" th:errors="*{loginId}"></p>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" th:field="*{loginPass}">
            <label for="lgoinPass">パスワード</label>
            <p class="validation-error" th:errors="*{loginPass}"></p>
        </div>

        <input class="w-100 btn btn-lg btn-primary mt-3" type="submit" value="ログイン">
    </form>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>